body{
    background: linear-gradient(to bottom, mediumpurple, rebeccapurple)
}

h1{
    text-align: center;
}

.card {
    font-family: "Arial Narrow", serif;
    width: 900px;
    margin: 150px auto;
    padding: 20px;
    background: cornflowerblue;
    border-radius: 2px;
    box-shadow: 3px 4px 10px black;
}


.btncard {
    width: 55px;
    padding: 10px;
    background: cadetblue;
    border-radius: 100px;
    box-shadow: 3px 4px 10px black;
    font-family: "Arial Narrow", serif;
}

.btn {
    right: 200px;
    background-image: linear-gradient(yellow, navajowhite);
    color: Black;
    padding:12px 12px;
    font-size: 12px;
    border: darkolivegreen;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-style: italic;
}

.btn:hover{
    background-image:  linear-gradient(#163a47, #2b6c0a);
    transition: background-color 0.3s;
}

.contact-form{
    margin: 0 auto;
    width: 650px;
    padding: 20px;
    background: lightsteelblue;
    border-radius: 10px;
    box-shadow: 3px 4px 10px black;
    font-family: "JetBrains Mono ExtraBold", fantasy;
}
