body{
    background: linear-gradient(to bottom, #70d7db, #338a99)
}

h1{
    text-align: center;
    font-family: cursive;
}

.card {
    font-family: cursive;
    width: 700px;
    margin: 150px auto;
    padding: 20px;
    background: cornflowerblue;
    border-radius: 55px;
    box-shadow: 3px 4px 10px black;
}


.btncard {
    width: 55px;
    padding: 10px;
    background: cadetblue;
    border-radius: 100px;
    box-shadow: 3px 4px 10px black;
    font-family: "Arial Narrow", serif;
}

.btn {
    right: 500px;
    background-image: linear-gradient(yellow, navajowhite);
    color: Black;
    padding:12px 12px;
    font-size: 12px;
    border: darkolivegreen;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-style: italic;
}

.btn:hover{
    background-image:  linear-gradient(#163a47, #2b6c0a);
    transition: background-color 0.3s;
}

.contact-form{
    margin: 0 auto;
    width: 750px;
    padding: 20px;
    background: lightsteelblue;
    border-radius: 55px;
    box-shadow: 3px 4px 10px black;
    font-family: cursive  ;
    text-align: center;
}

