body{
    background: linear-gradient(to left, palevioletred, darkred)
}

.card {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: darkgray;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.3);
    font-style: italic;
}


.links {
    top: -100px;
    right: -5px;
    position: fixed;
    width: 1575px;
    margin: 100px auto;
    padding: 20px;
    background: lightsteelblue;
    border-radius: 10px;
    font-style: italic;
    text-align: center;
}

.gallery {
    float: right;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    flex: 1 1 calc(25% - 20px);
    max-width: 100%;
    height: auto;
    margin: 10px 5px;
    width: 290px;
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    filter: grayscale(100%) brightness(110%) contrast(70%) blur(px);
}

.gallery img:hover {
    border: 6px solid darkorange;
}

#photo1 {
    float: left;
    text-allign: center;
}