h1{
    text-align: center;
    text-size: 100;
    bottom: 100px;
    font-family: "Javanese Text", serif;
}

h2{
    font-family: "Comic Sans MS", ui-rounded;
}
p{

}

.btncard {
    width: 325px;
    margin: 20px auto;
    padding: 20px;
    background: cadetblue;
    border-radius: 10px;
    box-shadow: 3px 4px 10px black;
    font-family: "Arial Narrow", serif;
}

body{
    background: linear-gradient(to bottom, mediumpurple, rebeccapurple)
}

.card {
    font-family: "Arial Narrow", serif;
    width: 900px;
    margin: 15px auto;
    padding: 20px;
    background: cornflowerblue;
    border-radius: 2px;
    box-shadow: 3px 4px 10px black;
}

.btn {
    background-image: linear-gradient(yellow, navajowhite);
    color: Black;
    padding:12px 24px;
    font-size: 16px;
    border: darkolivegreen;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-style: italic;
}

.btn:hover{
    background-image:  linear-gradient(#163a47, #2b6c0a);
    transition: background-color 0.3s;
}

.gallery {
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}