h1{
    text-align: center;
    bottom: 100px;
    font-family: "Javanese Text", serif;
}

h2{
    font-family: "Comic Sans MS", ui-rounded;
}
p{

}

.card {
    width: 650px;
    margin: 90px auto;
    padding: 20px;
    background: darkgray;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.3);
    font-style: italic;
}

.btncard {
    width: 325px;
    margin: 90px auto;
    padding: 20px;
    background: cadetblue;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.3);
    font-style: italic;
}

body{
    background: linear-gradient(to left, yellowgreen, darkgreen)
}

.card {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: darkgray;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.3);
    font-style: italic;
}

.btn {
    background-image: linear-gradient(yellow, navajowhite);
    color: Black;
    padding:12px 24px;
    font-size: 16px;
    border: darkolivegreen;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow:3px 4px 10px rgba(0, 0, 0, 0.3) ;
}

.btn:hover{
    background-image:  linear-gradient(#163a47, #2b6c0a);
    transition: background-color 0.3s;
}